* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: BlinkMacSystemFont, -apple-system, "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
[data-aos] {
    opacity: 0;
    transition-property: opacity, transform;
}
[data-aos].aos-animate {
    opacity: 1;
}
::-webkit-scrollbar {
    display: none;
}
:root {
    --dark: #4a4a4a;
    --primary: #6bb76e;
    --info: #6bb76e;
    --secondary: #b5b5b5;
    --light: #ffffff;
    --whitesmoke: #f5f5f5;
}
body {
    color: var(--dark);
    background: var(--light);
}
.container {
    min-width: 720px;
    width: 720px;
    margin: 0 auto;
}
.line {
    background-color: var(--whitesmoke);
    border: none;
    display: block;
    height: 2px;
    margin: 1.5rem 0;
}
.circle {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background: var(--secondary);
}
.active {
    background: var(--primary);
}
.flex-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.flex-column.center {
    align-items: center;
}
.title {
    color: var(--info);
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.description {
    font-size: 1rem;
    font-weight: 400;
}




.header {
    padding: 20px 0;
}
.avatar {
    width: 128px;
    height: 128px;
    border-radius: 50%;
}
.primary-title {
    font-weight: 600;
    font-size: 32px;
    color: var(--primary);
}
.info-subtitle {
    font-size: 16px;
    color: var(--dark);
    font-weight: 400;
}
.stack-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px;
}
.stack-list__item {
    cursor: pointer;
    background: var(--primary);
    color: var(--light);
    padding: 10px;
    border-radius: 5px;
}
.timeline {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.timeline-item {
    display: flex;
    align-items: center;
    gap: 20px;
}
.timeline-data {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.timeline-item__name {
    color: var(--primary);
}
.timeline-item__subname {
    font-style: normal;
}
.social-list {
    list-style: none;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.social-list__link {
    text-decoration: none;
    border-bottom: 2px solid var(--primary);
    color: var(--secondary);
    transition: 0.3s ease-in-out;
}
.social-list__link:hover {
    color: var(--primary);
}
.footer {
    text-align: center;
    padding: 30px 0;
}
.author {
    color: var(--primary);
    font-weight: 600;
}


@media screen and (max-width: 815px){
    .container {
        width: 450px;
        min-width: 450px;
    }
    .timeline-item__name, .timeline-item__subname {
        font-size: 15px;
    }
}
@media screen and (max-width: 550px){
    .container {
        width: 350px;
        min-width: 350px;
    }
    .title, .info-subtitle, .description {
        text-align: center;
    }
    .social-list {
        justify-content: center;
    }
}
@media screen and (max-width: 410px){
    .container {
        width: 280px;
        min-width: 280px;
    }
    .title {
        text-align: center;
    }
    .social-list {
        justify-content: center;
    }
}